html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{
	border:0;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
body {
	background:#464646;
	color:#CCC;
	font:16px/1.6333 "Microsoft YaHei","微软雅黑","Lucida Grande","文泉驿等宽微米黑","文泉驿微米黑","WenQuanYiMicroHei";
	font-weight:400;
	letter-spacing:.1px;
}

.lay_wrap{ max-width:1200px; clear:both; }
#body-content{ width:1200px; margin:0 auto; }
#primary{  width:92%; margin-left:3%; padding-top:15px; }
::-webkit-scrollbar{ height:10px;width:10px; margin-right:2px }
::-webkit-scrollbar-track-piece{background-color:#F5F5F5;border-left:1px solid #D2D2D2;}
::-webkit-scrollbar-thumb{ background:#33B5E5; width:10px }
::-webkit-scrollbar-thumb:hover{ background:#909090 }

a{ color:#CCF;text-decoration: none;}
.formdiv{
	background-color:rgba(99,99,99, .3);
	width:85%;
	max-width:1000px;
	border-bottom:2px solid #33B5E5;
}
.formdiv>input{
	width:90%;
	cursor:pointer;
	display:inline-block;
	background-color:#464646;
	border:none;
	border-right:1px solid #33B5E5;
	border-bottom:1px solid #33B5E5;
    border-radius: 5px 5px 0 0;
	height:22px;
	margin:10px 5px;
	color:#CCC;
	font:bold 16px "Microsoft YaHei","微软雅黑","Lucida Grande","文泉驿等宽微米黑","文泉驿微米黑","WenQuanYiMicroHei";
}
#h1n {
	font-weight:bold;
    color: #fff;
    font-size: 32px;
	border-left:3px solid #33B5E5;
	display:inline;	
}
#header {
	border-right:1px solid #33B5E5;
	border-bottom:2px solid #33B5E5;
    border-radius: 5px 5px 0 0;
}
#levtit {
	font-weight:bold;
    font-size: 22px;
	display:inline;	
}
.half,.all{
	border-left:2px solid #33B5E5;
}

.all>input{
	width:80.6%;
	float:right;
	margin-right:.6%;
}
.half>input,.half>select{
	width:60%;
	float:right;
	margin-right:3%;
}
.halfl{
	float:left;
	width:49%;
}
.halfr{
	float:right;
	width:49%;
}
.all{
	width:99%;
}
.alll{
	float:left;
}
#gjs{
	margin:10px 5px;
	width:90%;
	height:300px;
}
@media (max-width: 1216px){
	#body-content{width:92% !important;}
	#primary {
		width: 92%;
		margin-left: 5px;
	}
}
@media (max-width: 890px){
	#primary {
		margin-left: 10px;
	}
	.formdiv span{
		font-size: 14px;
	}
}